@model FinancialDashboard.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cleared" class="control-label"></label>
                <input asp-for="Cleared" class="form-control" />
                <span asp-validation-for="Cleared" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Flag_color" class="control-label"></label>
                <input asp-for="Flag_color" class="form-control" />
                <span asp-validation-for="Flag_color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account_id" class="control-label"></label>
                <input asp-for="Account_id" class="form-control" />
                <span asp-validation-for="Account_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account_name" class="control-label"></label>
                <input asp-for="Account_name" class="form-control" />
                <span asp-validation-for="Account_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payee_id" class="control-label"></label>
                <input asp-for="Payee_id" class="form-control" />
                <span asp-validation-for="Payee_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payee_name" class="control-label"></label>
                <input asp-for="Payee_name" class="form-control" />
                <span asp-validation-for="Payee_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_id" class="control-label"></label>
                <input asp-for="Category_id" class="form-control" />
                <span asp-validation-for="Category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_name" class="control-label"></label>
                <input asp-for="Category_name" class="form-control" />
                <span asp-validation-for="Category_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer_account_id" class="control-label"></label>
                <input asp-for="Transfer_account_id" class="form-control" />
                <span asp-validation-for="Transfer_account_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer_transaction_id" class="control-label"></label>
                <input asp-for="Transfer_transaction_id" class="form-control" />
                <span asp-validation-for="Transfer_transaction_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Import_id" class="control-label"></label>
                <input asp-for="Import_id" class="form-control" />
                <span asp-validation-for="Import_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
